html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #C0C0C0;
  background-color: #1A1A1D;
  font-family: 'Glory', "Arial";
  overflow: hidden;
}

body .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .mainContainer .circle {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px #C0C0C0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: circle 8s ease-in forwards infinite;
          animation: circle 8s ease-in forwards infinite;
}

body .mainContainer .circle:nth-child(2) {
  border-color: #FFF;
}

body .mainContainer .circle:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 15vw;
  top: 30vh;
}

body .mainContainer .circle:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 85vw;
  top: 80vh;
}

body .mainContainer .circle:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 25vw;
  top: 90vh;
}

body .mainContainer .circle:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 85vw;
  top: 10vh;
}

body .mainContainer .square {
  position: absolute;
  top: 10vh;
  left: 35vw;
  width: 10px;
  height: 10px;
  border: solid 1px #C0C0C0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: circle 8s ease-in forwards infinite;
          animation: circle 8s ease-in forwards infinite;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(5) rotate(1200deg) translate(-50%, -50%);
            transform: scale(5) rotate(1200deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes circle {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(5) rotate(1200deg) translate(-50%, -50%);
            transform: scale(5) rotate(1200deg) translate(-50%, -50%);
    opacity: 0;
  }
}

body .mainContainer .topHeader {
  position: relative;
  width: 100%;
  height: 3em;
  top: 0;
  -webkit-box-shadow: 0px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 3px rgba(0, 0, 0, 0.19);
  z-index: 1;
}

body .mainContainer .topHeader nav {
  text-align: center;
  padding-right: 15px;
}

body .mainContainer .topHeader nav li {
  display: inline-block;
  padding: 0px 12px;
  font-weight: bold;
}

body .mainContainer .topHeader nav li a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  color: #C0C0C0;
}

body .mainContainer .topHeader nav li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ' ';
  color: transparent;
  background: #C0C0C0;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

body .mainContainer .topHeader nav li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #1A1A1D;
}

body .mainContainer .topHeader nav li a:hover {
  color: #1A1A1D;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body .mainContainer .nameBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .mainContainer .nameBox .nameHeader h1 {
  position: relative;
  font-size: 46px;
  display: block;
  margin-bottom: -20px;
}

body .mainContainer .nameBox .nameHeader h1:after {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #C0C0C0;
  color: transparent;
}

body .mainContainer .nameBox .nameHeader h1:hover:after {
  width: 100%;
}

body .mainContainer .nameBox .nameHeader hr {
  width: 30px;
  border: none;
}

body .mainContainer .nameBox .nameHeader h3 {
  position: relative;
  font-size: 26px;
}

body .mainContainer .nameBox .nameHeader h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #C0C0C0;
  color: transparent;
}

body .mainContainer .nameBox .nameHeader h3:hover:after {
  width: 100%;
}

body .mainContainer .infoBasic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  border-radius: 5px;
}

body .mainContainer .infoBasic a {
  text-decoration: none;
  color: #C0C0C0;
  text-shadow: 0px 1px black;
  cursor: pointer;
}

body .mainContainer .infoBasic .infoBlockOne {
  text-align: center;
}

body .mainContainer .infoBasic .infoBlockOne a {
  position: relative;
}

body .mainContainer .infoBasic .infoBlockOne a:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #C0C0C0;
  color: transparent;
}

body .mainContainer .infoBasic .infoBlockOne a:hover:after {
  width: 100%;
}

body .mainContainer .infoBasic hr {
  width: 30px;
  border: none;
}

body .mainContainer .infoBasic .infoEmail {
  text-shadow: 1px solid #C0C0C0;
}

body .mainContainer .infoBasic:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .3s;
  transition: all .3s;
}

body .mainContainer .ctaButtonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .mainContainer .ctaButtonBox .ctaButton {
  padding: 1rem 1rem;
  background: #C0C0C0;
  border-radius: 5px;
  text-decoration: none;
  color: #1A1A1D;
  font-weight: bold;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .mainContainer .ctaButtonBox .ctaButton:hover {
  border: 1px solid #C0C0C0;
  background: #1A1A1D;
  color: #C0C0C0;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: bold;
}

body .mainContainer .footerSection {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body .mainContainer .footerSection .footerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 2rem;
  -webkit-box-shadow: 0px -2px rgba(0, 0, 0, 0.19);
          box-shadow: 0px -2px rgba(0, 0, 0, 0.19);
}

body .mainContainer .footerSection .footerBox .footerCopyright {
  font-weight: bold;
}

body .mainContainer .footerSection .footerBox .footerIcons {
  list-style: none;
}

body .mainContainer .footerSection .footerBox .footerIcons li {
  display: inline-block;
}

body .mainContainer .footerSection .footerBox .footerIcons li a {
  text-decoration: none;
  color: #C0C0C0;
}

body .mainContainer .footerSection .footerBox .footerIcons li:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all .3s;
  transition: all .3s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f1f2f6;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f2f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #C0C0C0;
}

@media (min-width: 900px) {
  body .mainContainer .topHeader nav {
    padding-right: 2em;
  }
  body .mainContainer .topHeader nav a {
    padding: 10px;
  }
  body .mainContainer .infoBasic {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
  }
  body .mainContainer .infoBlockOne {
    text-align: justify;
  }
  body .mainContainer .footerSection .footerBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=mainStyles.css.map */