@import"./_colors";
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: $accentColor;
    background-color: $mainColor;
    font-family: 'Glory', "Arial";
    overflow: hidden;
    .mainContainer{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        .circle {
            position: absolute;
            top: 80vh;
            left: 45vw;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: solid 1px $accentColor;
            transform-origin: top left;
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: circle 8s ease-in forwards infinite;
          }
          .circle:nth-child(2) {
            border-color: #FFF ;
          }
          .circle:nth-child(2) {
            animation-delay: 1s;
            left: 15vw;
            top: 30vh;
          }
          .circle:nth-child(3) {
            animation-delay: 2s;
            left: 85vw;
            top: 80vh;
          }
          .circle:nth-child(4) {
            animation-delay: 3s;
            left: 25vw;
            top: 90vh;
          }
          .circle:nth-child(5) {
            animation-delay: 2s;
            left: 85vw;
            top: 10vh;
          }
          .square {
            position: absolute;
            top: 10vh;
            left: 35vw;
            width: 10px;
            height: 10px;
            border: solid 1px $accentColor;
            transform-origin: top left;
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: circle 8s ease-in forwards infinite;
          }
          @keyframes circle {
            from {
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
              opacity: 1;
            }
            to {
              transform: scale(5) rotate(1200deg) translate(-50%, -50%);
              opacity: 0;
            }
          }
        .topHeader{
            position: relative;
            width: 100%;
            height: 3em;
            top:0;
            box-shadow: 0px 3px rgba( #000000, 0.19);
            z-index: 1;
            nav{
                text-align: center;
                padding-right: 15px;
                li{
                    display: inline-block;
                    padding: 0px 12px;
                    font-weight: bold;
                    a{
                        position:relative;
                        z-index: 1;
                        text-decoration: none;
                        cursor: pointer;
                        color: $accentColor;
                    }
                    a:after{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        width: 100%;
                        height: 1px;
                        content: ' ';
                        color: transparent;
                        background: $accentColor;
                        visibility: none;
                        opacity: 0;
                        z-index: -1;
                    }
                    a:hover:after{
                        opacity: 1;
                        visibility: visible;
                        height: 100%;
                        transition: all .3s;
                        color: $mainColor;
                    }
                    a:hover{
                        color: $mainColor;
                        transition: all .3s;
                    }
                }
            }
        }
        .nameBox{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 2rem 0rem;
            text-align: center;
            transition: all 0.3s;
            .nameHeader{
                h1{
                    position: relative;
                    font-size: 46px;
                    display: block;
                    margin-bottom: -20px; 
                }
                h1:after{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    content: '';
                    width: 0%;
                    height: 1px;
                    transition: all .3s;
                    background: $accentColor;
                    color: transparent;
                }
                h1:hover:after{
                    width: 100%;
                }
                hr{
                    width: 30px;
                    border: none;
                }
                h3{
                    position: relative;
                    font-size: 26px;
                }
                h3:after{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    content: '';
                    width: 0%;
                    height: 1px;
                    transition: all .3s;
                    background: $accentColor;
                    color: transparent;
                }
                h3:hover:after{
                    width: 100%;
                }
            }
        }
        .infoBasic{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 95%;
            justify-content: center;
            align-items: center;
            padding: 2rem 0rem;
            text-align: center;
            transition: all 0.3s;
            font-weight: bold;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            margin: 0 auto;
            border-radius: 5px;
            a{
                text-decoration: none;
                color: $accentColor;
                text-shadow: 0px 1px black;
                cursor: pointer;
            }
            .infoBlockOne{
                text-align: center;
                a{
                    position: relative;
                }
                a:after{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    content: '';
                    width: 0%;
                    height: 1px;
                    transition: all .3s;
                    background: $accentColor;
                    color: transparent;
                }
                a:hover:after{
                    width: 100%;
                }
            }
            hr{
                width: 30px;
                border: none;
            }
            .infoEmail{
                text-shadow: 1px solid $accentColor;
            }
        }
        .infoBasic:hover{
            transform: scale(1.03);
            transition: all .3s;
        }
        .ctaButtonBox{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 2rem 0rem;
            text-align: center;
            transition: all 0.3s;
            .ctaButton{
                padding: 1rem 1rem;
                background: $accentColor;
                border-radius: 5px;
                text-decoration: none;
                color: $mainColor;
                font-weight: bold;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }
            .ctaButton:hover{
                border: 1px solid $accentColor;
                background: $mainColor;
                color: $accentColor;
                transition: ease-in-out .2s;
                box-shadow: none;
                font-weight: bold;
            }
            
        }
        .footerSection{
            position: fixed;
            bottom: 0;
            width: 100%;
            .footerBox{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0rem 2rem;
                box-shadow: 0px -2px rgba( #000000, 0.19);
                .footerCopyright{
                    font-weight: bold;
                }
                .footerIcons{
                    list-style: none;
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: $accentColor;
                        }
                    }
                    li:hover{
                        transform: scale(1.25);
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f1f2f6;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #f1f2f6;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $accentColor;
}

@media (min-width: 900px) {
    body{
        .mainContainer{
            .topHeader{
                nav{
                    padding-right: 2em;
                    a{
                        padding: 10px;
                    }
                }
            }
            .infoBasic{
                width: 60%;
                margin: 0 auto;
                border-radius: 5px;
            }
            .infoBlockOne{
                text-align: justify;
            }
            .footerSection{
                .footerBox{
                    justify-content: center;
                    .footerIcons{

                    }
                }
            }
        }
    }
}