
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e801'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
